[Unit]
Description=Job that runs the RocketChat MongoDB docker container

[Service]
WorkingDirectory=/var/www/rocket.chat
ExecStart=/usr/local/bin/docker-compose up rocketdb
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=rocketchat-mongo.service